# Database
DATABASE_URL=postgres://user:password@localhost:5432/db_name

# App
PORT=3001
NODE_ENV=development

# Sentry
SENTRY_DSN_BE=
SENTRY_PROJECT_BE=

# GitHub (for automated issue creation)
GITHUB_TOKEN=

# Sync Auth
SYNC_API_KEY=
